<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello, world!</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h1>Awesome shop</h1>
    <h2>Our products</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Product SKU</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Stock</th>
            <th>Product Price</th>
            <th>Product Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.sku}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productDescription}"></td>
            <td th:text="${product.stock}"></td>
            <td th:text="${{product.price}}"></td>
            <td>
                <a th:href="@{'/store/buy/' + ${product.sku}}" class="btn btn-primary" th:if="${product.stock > 0}">Buy
                    one!</a>
                <span class="badge badge-info"
                      th:if="${product.soldOverTime > 0}"
                      th:text="${product.soldOverTime + ' sold lately!'}"></span>
                <a class="btn btn-error" th:if="${product.stock == 0}">Sold out!</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>